page-signup {

form {
    margin-bottom: 32px;
    button {
        margin-top: 20px;
        }
}

p {
    font-size: 1.2em;
}

ion-label {
    margin-left: 5px;
}

.indent { 
    padding-left: 2em;
}

// ion-input {
//     padding: 5px;
//     border: 2px solid blue;
//     border-radius: 4px;
//     background: lightgrey;
//     width:70%;
// }

.invalid {
    border-bottom: 1px solid #FF6153;
}

.error-message .item-inner {
    border-bottom: 0 !important;
}

}

